.navigateBanner {
  width: 100%;
}

.navigatebox {
  position: absolute;
  top: 45px;
  height: 267px;
  width: 48px;
  padding-left: 10px;
  background-color: transparent;
  border-style: double;
  border-color: transparent;
  border-width: 4px;
}

.navigatebox:hover {
  border-color: black;
  cursor: grab;
}

.btn__left {
  left: 0%;
}

.btn__right {
  right: 0%;
}

.navigatebtn {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 110px;
  font-family: inherit;
  font-size: 70px;
  align-items: center;
}
