.navigateBanner {
  width: 100%;
}

.navigatebox {
  position: absolute;
  top: 1233px;
  height: 245px;
  width: 48px;
  background-color: transparent;
}

.btn__left {
  left: 0.1%;
}

.btn__right {
  right: 0.1%;
}

.navigatebtn {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 110px;
  font-family: inherit;
  font-size: 70px;
  align-items: center;
}

.navigatebtn:hover {
  cursor: grab;
  transform: scale(1.05, 1.05);
}
