.card {
  display: block;
  width: 305px;
  height: 430px;
  background-color: transparent;
  position: absolute;
}
.upperCard {
  padding: 1px;
  width: 305px;
  height: 150px;
  background-color: white;
}

.p1 {
  margin: 15px 10px 0px 15px;
  color: black;
  font-size: 15pt;
  font-weight: bold;
}

.p2 {
  margin: 20px 10px 0px 15px;
  color: rgb(102, 101, 101);
  font-size: 9pt;
}

.p3 {
  margin: 20px 10px 0px 15px;
  color: rgb(6, 143, 177);
  font-size: 9pt;
}

.lowerCard {
  margin-top: 20px;
  width: 305px;
  height: 260px;
}
