.nav {
  display: flex;
  flex-direction: row;
}

.navItem {
  height: 44px;
  margin: 3px;
  padding: 4px;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.navItem > p {
  height: 2px;
}

.navItem:hover {
  border-color: white;
}
.logo {
  width: 120px;
  height: 50px;
}

.searchBar {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0px;

  width: 580px;
  height: 40px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(255, 115, 0);
}
.all {
  width: 45px;
  height: 40px;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: rgb(201, 195, 195);
}

.allText {
  margin-top: 12px;
  margin-left: 5px;
  color: black;
  font-size: 10pt;
  font-weight: normal;
  text-align: center;
}

.search {
  width: 480px;
  height: 32px;
  font-size: 12pt;
}

.searchIcon {
  background-color: rgb(252, 187, 67);
  width: 45px;
  height: 40px;
  color: white;
}

.flag {
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 1px;
  height: 17px;
  width: 25px;
}

.hello {
  font-size: 9pt;
  color: white;
  margin-top: 5px;
  height: 3px;
}

.account {
  height: 8px;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  margin-top: 1px;
}

.cartItems {
  position: relative;
  top: 0px;
  left: 10px;
  height: 2px;
  margin-top: 0px;
  font-size: 16pt;
  font-weight: bolder;
  color: rgb(243, 101, 6);
}
.cart {
  position: relative;
  top: 30px;
  height: 2px;
  margin-top: 0px;
  font-size: 10pt;
  font-weight: bolder;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 44px;
  width: 200px;
  padding: 10px;
  background-color: white;
  min-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent p {
  color: black;
  font-size: 10pt;
  font-weight: normal;
  padding: 1px 16px 0 16px;
  text-decoration: none;
  display: block;
  height: 10px;
}

.dropdownContent p:hover {
  color: rgb(245, 85, 11);
  cursor: grab;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownHeading {
  font-weight: bold;
  font-size: 13pt;
  color: black;
  margin-left: 16px;
}

.button {
  margin: 10px 10px 20px 10px;
  padding: 4px 10px 3px 10px;
  text-align: center;
  width: 170px;
  height: 25px;
  background-color: rgb(241, 241, 8);
  border-radius: 8px;
  font-size: 12pt;
  font-weight: normal;
  color: black;
}
.button:hover {
  cursor: grab;
  background-color: rgb(252, 134, 66);
}
